@font-face {
  font-family: rbcReg;
  src: url(../fonts/ufonts.com_meta-normal.ttf); }
@font-face {
  font-family: rbcBold;
  src: url(../fonts/ufonts.com_meta-bold.ttf); }
.rbc-font, body {
  font-family: rbcReg; }

.rbc-font-bold, header#main-header nav {
  font-family: rbcBold; }

body {
  margin: 0;
  padding: 0; }

div#main-page-content-container {
  padding: 0 1em; }
  @media (min-width: 700px) {
    div#main-page-content-container {
      padding: 0 6em; } }

header#main-header {
  padding: 1em 2em;
  height: 5em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box; }
  @media (min-width: 700px) {
    header#main-header {
      padding: 1em 6em; } }
  header#main-header section.header-image {
    height: 5em;
    width: auto;
    float: left; }
    header#main-header section.header-image img {
      height: 100%;
      width: auto; }
  header#main-header button.menu-toggle {
    background: none;
    outline: none;
    border: none;
    font-size: 2em;
    color: #002888;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    z-index: 1; }
    @media (min-width: 700px) {
      header#main-header button.menu-toggle {
        display: none; } }
    header#main-header button.menu-toggle.toggled {
      position: fixed; }
      header#main-header button.menu-toggle.toggled i:before {
        content: "\f00d"; }
  header#main-header nav {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.98);
    display: none;
    z-index: 1; }
    header#main-header nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      header#main-header nav ul li {
        font-size: 2em;
        display: block;
        margin: 0;
        padding: 1em 0;
        text-align: center; }
        header#main-header nav ul li a {
          color: #002888;
          display: inline-block;
          text-decoration: none; }
        header#main-header nav ul li a.button {
          padding: 0.7em;
          color: #002888;
          background: #fedf01; }
          header#main-header nav ul li a.button.secondary {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px; }
          header#main-header nav ul li a.button.circle {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px; }
    @media (min-width: 700px) {
      header#main-header nav {
        margin: 0;
        float: right;
        width: auto;
        height: auto;
        position: relative;
        display: block !important; }
        header#main-header nav ul {
          position: static;
          top: 0;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
          header#main-header nav ul li {
            font-size: 1em;
            text-align: left;
            display: inline-block;
            margin: 0 1em; }
            header#main-header nav ul li:first-child {
              margin: 0 1em 0 0; } }

/*# sourceMappingURL=main.css.map */
